header {
text-align: center;
background: url("https://c2.staticflickr.com/4/3903/15056406677_03a39d510e_b.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: monospace;
}

h1 {
text-align: left;
padding: 0px 20px 10px 20px;
margin-top: 0px;
font-size: 50px;
color: white;
line-height: .5px;
}

h2 {
padding: 10px 20px 0px 20px;
line-height: .5px;
text-align: left;
color: white;
}

#map {
opacity: 0.0;
height: 300px;

}
ul {
padding:15px;
background: black;
font-size: 20px;
}

li {
display: inline;
padding: 0px 10px 0px 10px;
color: white;
}

h3 {
  font-size: 20px;
  font-family: times;
}

div {
  font-family: times;
}

button {
  background: #47182d;
  border-radius: 5px;
  opacity: .5;
  font-size: 30px;
  padding: 10px 5px 10px 5px;
  position: relative;
  left: 40%;
}

.cardib {
  opacity: 0;
}
