body {
  font-family: geneva;
  font: bold;
}

#pie {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  opacity: .00;
 }
 
#header {
  background: darkmagenta;
  text-align: center;
  font-size: 25px;
  color: peachpuff;
  border-radius: 10px;
}

#OctopusPicture {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

}
.Recipesbutton {
 padding: 6px;
 font-size: 10px;
 color: slategrey;
}
